In [1]:
# import dependencies
import pandas as pd

In [39]:
# read in csv and make df

df = pd.read_csv('vine_table.csv')
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
5,R1DJCVPQGCV66E,5.0,0.0,0.0,N,Y
6,R3V52EAWLPBFQG,3.0,0.0,0.0,N,Y
7,R3DKO8J1J28QBI,2.0,0.0,0.0,N,Y
8,R764DBXGRNECG,5.0,1.0,1.0,N,N
9,RW1853GAT0Z9F,5.0,0.0,0.0,N,Y

In [40]:
# drop null information rows
df = df.dropna()
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
5,R1DJCVPQGCV66E,5.0,0.0,0.0,N,Y
6,R3V52EAWLPBFQG,3.0,0.0,0.0,N,Y
7,R3DKO8J1J28QBI,2.0,0.0,0.0,N,Y
8,R764DBXGRNECG,5.0,1.0,1.0,N,N
9,RW1853GAT0Z9F,5.0,0.0,0.0,N,Y

In [47]:
# total vine reviews
total_vine = df[df['vine'] == 'Y']
total_vine['vine'].count()

10215

In [48]:
# not vine
total_not_vine = df[df['vine'] == 'N']
total_not_vine['vine'].count()

2633399

In [84]:
#filter data and create new df to retrieve rows where total_votes is >=20

filter_tv_twenty_df = df[df['total_votes'] >=20.0]
filter_tv_twenty_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y

In [87]:
# filter filter_tv_twenty_df to retrieve all rows where number of "helpful_votes"/"total_votes">=50%
helpful_reviews_df = filter_tv_twenty_df[filter_tv_twenty_df["helpful_votes"]/filter_tv_twenty_df["total_votes"]>=0.5]
helpful_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [86]:
# filter helpful_reviews_df to retrieve all rows where a review was written as part of vine program 
# vine == 'Y'

yes_vine_df = helpful_reviews_df[helpful_reviews_df['vine'] == 'Y']
yes_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N
...,...,...,...,...,...,...
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N
2596519,R2XLAQL0E2UPWQ,4.0,33.0,34.0,Y,N
2597336,R2UJFVH97OJORD,3.0,106.0,117.0,Y,N
2597830,RJXG84I331N9T,3.0,146.0,154.0,Y,N
2598196,RNGRV0353CDWX,4.0,109.0,115.0,Y,N

In [88]:
# 5 star yes_vine_df
five_star_yes_vine_df = yes_vine_df[yes_vine_df['star_rating'] == 5.0]
five_star_yes_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
240986,R3C7MKX7MO6XUC,5.0,216.0,219.0,Y,N
266297,R3FKBT77ZTUPLQ,5.0,15.0,20.0,Y,N
...,...,...,...,...,...,...
2510737,R2VVXHUISNMWFI,5.0,28.0,30.0,Y,N
2543125,RTY77D0552ZR5,5.0,53.0,62.0,Y,N
2556255,R2TBSMUVHK4ER4,5.0,193.0,201.0,Y,N
2557283,R3IUYR1BBWU99V,5.0,84.0,88.0,Y,N
2596353,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N

In [60]:
# filter helpful_reviews_df to retrieve all rows where a review was NOT written as part of vine program 
# vine == 'N'

no_vine_df = helpful_reviews_df[helpful_reviews_df['vine'] == 'N']
no_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
...,...,...,...,...,...,...
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N
2643614,R40AVFLMGSX5Q,1.0,32.0,34.0,N,N
2643616,R34ITLN8LBTFZN,3.0,48.0,56.0,N,N
2643618,R2MAGOAOXPFMF1,2.0,17.0,20.0,N,Y

In [89]:
# 5 star no_vine_df
five_star_no_vine_df = no_vine_df[no_vine_df['star_rating'] == 5.0]
five_star_no_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y
1637,R34X0ZGVB3YGYO,5.0,47.0,47.0,N,Y
...,...,...,...,...,...,...
2643548,R2BM4RHIR0KTH2,5.0,22.0,22.0,N,N
2643562,R2XOCGK2CIPVPF,5.0,35.0,36.0,N,N
2643570,RFN39V2QYNE49,5.0,62.0,72.0,N,N
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N

In [22]:
# total number of reviews

total_reviews_count = df['review_id'].count()
total_reviews_count

2643614

In [61]:
# total number of helpful reviews

total_helpful_reviews_count = helpful_reviews_df['review_id'].count()
total_helpful_reviews_count

38010

In [62]:
#five_star_review df
five_star_review = helpful_reviews_df.loc[helpful_reviews_df['star_rating'] == 5.0]
five_star_review

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y
1637,R34X0ZGVB3YGYO,5.0,47.0,47.0,N,Y
...,...,...,...,...,...,...
2643548,R2BM4RHIR0KTH2,5.0,22.0,22.0,N,N
2643562,R2XOCGK2CIPVPF,5.0,35.0,36.0,N,N
2643570,RFN39V2QYNE49,5.0,62.0,72.0,N,N
2643577,R37NBT4U1EL04K,5.0,47.0,61.0,N,N
2643591,RU2X9GTDZ00IM,5.0,58.0,59.0,N,N

In [81]:
#total number of 5 star reviews
five_star_count = five_star_review['star_rating'].count()
f"Number of five star reviews for pet products: {five_star_count}"

'Number of five star reviews for pet products: 20677'

In [77]:
# 5 star paid reviews 
five_star_paid = five_star_review[five_star_review['vine'] == 'Y']
five_star_paid_count = five_star_paid['star_rating'].count()
f"Number of helpful Vine program 5 star reviews: {five_star_paid_count}"

'Number of helpful Vine program 5 star reviews: 65'

In [67]:
# percentage of 5 star paid reviews (out of all reviews)
percentage_paid_five_star = five_star_paid_count / total_reviews_count * 100 
f"{percentage_paid_five_star:.2f}% of the reviews on pet products are part of the paid Vine program."

'0.00% of the reviews on pet products are part of the paid Vine program.'

In [68]:
# percentage of 5 star paid reviews (out of 5 star reviews)
percentage_paid_five_star_out_of_five_star = five_star_paid_count / five_star_count * 100 
f"{percentage_paid_five_star_out_of_five_star:.2f}% of the helpful five star reviews on pet products are part of the paid Vine program."

'0.31% of the helpful five star reviews on pet products are part of the paid Vine program.'

In [76]:
# 5 star unpaid reviews 
five_star_unpaid = five_star_review[five_star_review['vine'] == 'N']
five_star_unpaid_count = five_star_unpaid['star_rating'].count()
f"Number of helpful non-Vine program 5 star reviews: {five_star_unpaid_count}"

'Number of helpful non-Vine program 5 star reviews: 20612'

In [90]:
# percentage of 5 star unpaid reviews (out of all reviews)
percentage_unpaid_five_star = five_star_unpaid_count / total_reviews_count * 100 
f"{percentage_unpaid_five_star:.2f}% of the helpful reviews on pet products are honest reviews."

99.69% of the helpful five star reviews on pet products are not part of the Vine program.

In [91]:
# percentage of 5 star paid reviews (out of 5 star reviews)
percentage_paid_five_star_out_of_five_star = five_star_paid_count / five_star_count * 100 
print(f"{percentage_paid_five_star_out_of_five_star:.2f}% of the helpful five star reviews on pet products are part of the paid Vine program.")

0.31% of the helpful five star reviews on pet products are part of the paid Vine program.

In [73]:
percentage_paid_five_star_out_of_five_star + percentage_unpaid_five_star_out_of_five_star

99.99999999999999

In [83]:
print(f"Number of five star reviews for pet products: {five_star_count}")
print(f"Number of helpful non-Vine program 5 star reviews: {five_star_unpaid_count}")
print(f"Number of helpful Vine program 5 star reviews: {five_star_paid_count}")
print(f"{percentage_unpaid_five_star_out_of_five_star:.2f}% of the helpful five star reviews on pet products are not part of the Vine program.")
print(f"{percentage_paid_five_star_out_of_five_star:.2f}% of the helpful five star reviews on pet products are part of the paid Vine program.")

Number of five star reviews for pet products: 20677
Number of helpful non-Vine program 5 star reviews: 20612
Number of helpful Vine program 5 star reviews: 65
99.69% of the helpful five star reviews on pet products are not part of the Vine program.
0.31% of the helpful five star reviews on pet products are part of the paid Vine program.