In [1]:
# import dependencies
import pandas as pd

In [39]:
# read in csv and make df

df = pd.read_csv('vine_table.csv')
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
5,R1DJCVPQGCV66E,5.0,0.0,0.0,N,Y
6,R3V52EAWLPBFQG,3.0,0.0,0.0,N,Y
7,R3DKO8J1J28QBI,2.0,0.0,0.0,N,Y
8,R764DBXGRNECG,5.0,1.0,1.0,N,N
9,RW1853GAT0Z9F,5.0,0.0,0.0,N,Y

In [40]:
# drop null information rows
df = df.dropna()
df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
5,R1DJCVPQGCV66E,5.0,0.0,0.0,N,Y
6,R3V52EAWLPBFQG,3.0,0.0,0.0,N,Y
7,R3DKO8J1J28QBI,2.0,0.0,0.0,N,Y
8,R764DBXGRNECG,5.0,1.0,1.0,N,N
9,RW1853GAT0Z9F,5.0,0.0,0.0,N,Y

In [41]:
#filter data and create new df to retrieve rows where total_votes is >=20

filter_tv_twenty_df = df[df['total_votes'] >=20.0]
filter_tv_twenty_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y

In [42]:
# filter filtered_df to retrieve all rows where number of "helpful_votes"/"total_votes">=50%

filter_fifty_percent_votes_df = filter_tv_twenty_df[filter_tv_twenty_df["helpful_votes"]/filter_tv_twenty_df["total_votes"]>=0.5]
filter_fifty_percent_votes_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y

In [43]:
# filter filtered1_df to retrieve all rows where a review was written as part of vine program 
# vine == 'Y'

yes_vine_df = filter_fifty_percent_votes_df[filter_fifty_percent_votes_df['vine'] == 'Y']
yes_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N
79454,R1JUJLXQ2CMWKF,4.0,25.0,26.0,Y,N
83480,R2T7YE0IFI6N9L,3.0,24.0,25.0,Y,N
221844,R25FI3J7WWOYXM,3.0,55.0,58.0,Y,N
226343,R3P3U4EOWIUD50,3.0,27.0,36.0,Y,N
240986,R3C7MKX7MO6XUC,5.0,216.0,219.0,Y,N

In [44]:
# filter filtered1_df to retrieve all rows where a review was NOT written as part of vine program 
# vine == 'N'

no_vine_df = filter_fifty_percent_votes_df[filter_fifty_percent_votes_df['vine'] == 'N']
no_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y
1169,R3VQPJZ54B55BA,5.0,62.0,64.0,N,N
1238,R24QM6D7FEDZ5M,2.0,36.0,43.0,N,Y
1254,R3A1VQ3SQDXEJ3,5.0,20.0,20.0,N,Y
1311,R39GSNW76GYF,1.0,20.0,23.0,N,Y
1493,RPJLR6MFDPXXE,5.0,35.0,36.0,N,Y

In [22]:
# total number of reviews

total_reviews_count = df['review_id'].count()
total_reviews_count

2643614

In [45]:
#five_star_review df
five_star_review = df.loc[df['star_rating'] == 5.0]
five_star_review.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y
5,R1DJCVPQGCV66E,5.0,0.0,0.0,N,Y
8,R764DBXGRNECG,5.0,1.0,1.0,N,N
9,RW1853GAT0Z9F,5.0,0.0,0.0,N,Y
12,R2ZOYAQZNNZZWV,5.0,0.0,0.0,N,Y
14,RJB41Q575XNG4,5.0,0.0,3.0,N,Y
15,R28W8BM1587CPF,5.0,0.0,0.0,N,Y

In [24]:
#total number of 5 star reviews
five_star_count = five_star_review['star_rating'].count()
five_star_count

1645553

In [25]:
# 5 star paid reviews 
five_star_paid = five_star_review[five_star_review['vine'] == 'Y']
five_star_paid_count = five_star_paid['star_rating'].count()
five_star_paid_count

4343

In [27]:
# percentage of 5 star paid reviews (out of all reviews)
percentage_paid_five_star = five_star_paid_count / total_reviews_count * 100 
f"{percentage_paid_five_star:.2f}% of the reviews on pet products are part of the paid Vine program."

'0.16% of the reviews on pet products are part of the paid Vine program.'

In [28]:
# percentage of 5 star paid reviews (out of 5 star reviews)
percentage_paid_five_star_out_of_five_star = five_star_paid_count / five_star_count * 100 
f"{percentage_paid_five_star_out_of_five_star:.2f}% of the five star reviews on pet products are part of the paid Vine program."

'0.26% of the five star reviews on pet products are part of the paid Vine program.'

In [30]:
# 5 star unpaid reviews 
five_star_unpaid = five_star_review[five_star_review['vine'] == 'N']
five_star_unpaid_count = five_star_unpaid['star_rating'].count()
five_star_unpaid_count

1641210

In [31]:
# percentage of 5 star unpaid reviews (out of all reviews)
percentage_unpaid_five_star = five_star_unpaid_count / total_reviews_count * 100 
f"{percentage_unpaid_five_star:.2f}% of the reviews on pet products are honest reviews."

'62.08% of the reviews on pet products are honest reviews.'

In [32]:
# percentage of 5 star paid reviews (out of 5 star reviews)
percentage_unpaid_five_star_out_of_five_star = five_star_unpaid_count / five_star_count * 100 
f"{percentage_unpaid_five_star_out_of_five_star:.2f}% of the five star reviews on pet products are honest reviews."

'99.74% of the five star reviews on pet products are honest reviews.'

In [33]:
percentage_paid_five_star_out_of_five_star + percentage_unpaid_five_star_out_of_five_star

100.0